@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bangers&family=Bokor&family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

$font-family_1: 'Bacasime Antique', serif;
$font-family_2: 'Lugrasimo', cursive;
$font-family_3: 'Pirata One', cursive;