$lightGray: #cecece;
$hovercolor: #fffdfdb8;
$gold: #ffd200;
$orange: #ffa200;
$white: white;
$whiteSmoked: whitesmoke;
$red: red;
$black: black;
$overlay1: rgba(0, 4, 5, 0.772);
$overlay2: rgba(0, 0, 0, 0.737);
$fiftyTransparent: #fffdfd65;
$redder: rgb(205, 2, 2);
$sandShadow: #c8956686;
$sand: #e1b382ad;
$sandDarker: #c89566;
$cream: #FFFDD0;